<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login Page</h1>
<hr>
<div>
    <div style="color: red;" th:if="${param.error}">
        Invalid username or password
    </div>
    <form action="" method="post">
        <input name="username" type="text" placeholder="User name">
        <br><br>
        <input name="password" type="password" placeholder="Password">
        <br><br>
        <input type="submit" value="Login">
    </form>
</div>
</body>
</html>